@import "vars", "flex", "fonts", "media";
body {
  font-family: "Decor";
  font-size: 4rem;
}
.wrap {
  background-color: #0DB722;
  border-radius: 10px;
}
.block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 22%;
  align-self: stretch;
  background-color: #FFFFFF;
  border-radius: 10px;
}